name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    name: Build and Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Generate Prisma Client
        run: npx turbo run db:generate
        env:
          DATABASE_URL: "postgresql://postgres:password@localhost:5432/opcore"

      - name: Build
        run: npm run build
        env:
          DATABASE_URL: "postgresql://postgres:password@localhost:5432/opcore"

      - name: Lint

        run: npm run lint
